#cards{
    background-color:#242629;
    border: none;
}

#Website-butt,#GitHub-butt{
    width: 8rem;
    border-radius: 30px;
    border: none;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    color: white;
    background-color: #7F5AF0;
}
#Website-butt:hover,#GitHub-butt:hover{
    transform: scale(1.1);
}

#GitHub-butt{
    margin-left: 1rem;
}
.Links{
    display: flex;
}
.Links img{
    width: 23px;
    height: 23px;
    margin: auto;
    padding-bottom: 0.1rem;
    padding-top: -0.1rem;
}
.Card-tittle{
    color: #fff;
    text-align: center;
    padding-bottom: 0.4rem;
}
#cards-generate-img{
    padding-bottom: -0.3;
    padding-top: 1.5rem;
}
#cards{
    border-radius: 30px;
}
#cards:hover{
    transform: scale(1.1);
}
.cards-generate-img__container{
    height: 140px;
    overflow: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.cards-generate-img__container::after {
    content: "";
    position: absolute;
    top: 27%;
    left: 2.5%;
    width: 95%;
    height: 120px;
    background: linear-gradient(to right top, #00000041, #00000041, #00000041, #00000041, #00000041);
  }
@media (max-width: 600px){
    #cards:hover{
        transform: scale(1);
    }
}